<form onsubmit="return showResults()">
<div class="row">
    <div class="col-md-4">
        <select id="semester" name="semester">
            <option></option>
            {% set semesters = entries('champions', 'semester').get() %}
            {{ semesters.render() }}
            {% for semester in semesters %}
                <option>{{ semester.name }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <select id="events_select" name="events_select">
            <option></option>
            {% set events = entries('champions', 'event').get() %}
            {{ events.render() }}
            {% for event in events %}
                <option>{{ event.name }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <select id="sports" name="sports">
            <option></option>
            {% set sports = entries('champions', 'sport').get() %}
            {{ sports.render() }}
            {% for sport in sports %}
                <option>{{ sport.name }} </option>
            {% endfor %}
        </select>
    </div>
</div><br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align:center"><input type="submit" class="show_results" value = "Show results"></div>
    <div class="col-md-4"></div>
</div><br>
    </form>
<section class="blog-section">
<div class="container">
    <div class="blog-post">
    <div class="col-md-4" >
        <h2 style="color: #b79a00 ">First Place</h2>
        <hr>
        <div id="firstPlace"></div>
    </div>
    <div class="col-md-4" >
        <h2 style="color: #9a9a9a ">Second Place</h2><hr>
        <div id="secondPlace"></div>
    </div>
    <div class="col-md-4" >
        <h2 style="color: #cd7f32 ">Third Place</h2><hr>
        <div id="thirdPlace"></div>
    </div>
    </div>
</div>
</section>
