{% extends "theme::layouts/default" %}
{% block content %}
<section class="clients-section">
    <div class="container">
        <div class="clients-title">
            <h2>Sports Partners</h2>
        </div>
        <div class="row">
            <div class="sports_partners">
                <ul class="client-list">
                    {% set sPartners = entries('sponsors', 'coorganizers').paginate() %}
                    {{ sPartners.render()|raw }}
                    {% for partner in sPartners %}
                        <li>
                            <a href="{{ partner.link }}">{{ partner.logo.make|raw }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><br>
        <div class="clients-title">
            <h2>General Sponsors</h2>
        </div>
        <div class="row">
            <div class="sponsors">
                <ul class="client-list">
                    {% set sponsors = entries('sponsors', 'sponsor').paginate() %}
                    {{ sponsors.render()|raw }}
                    {% for sponsor in sponsors %}
                        <li>
                            <a href="{{ sponsor.link }}">{{ sponsor.logo.make|raw }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div><br>
        <div class="clients-title">
            <h2>Partners</h2>
        </div>
        <div class="row">
            <ul class="client-list">
                {% set partners = entries('sponsors', 'partners').paginate() %}
                {{ partners.render()|raw }}
                        {% for partner in partners %}
                            <li>
                                <a href="{{ partner.link }}">{{ partner.logo.make|raw }}</a>
                            </li>
                        {% endfor %}
            </ul>
        </div><br>
        <div class="clients-title">
            <h2>Media Partners</h2>
        </div>
        <div class="row">
            <div class="media">
                <ul class="client-list">
                    {% set medias = entries('sponsors', 'media').paginate() %}
                    {{ medias.render()|raw }}
                    {% for media in medias %}
                        <li>
                            <a href="{{ media.link }}">{{ media.logo.make|raw }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</section>
{% endblock %}
