{% block content %}
{#
    <footer>
        <div class="bottom-line">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        Follow Us:
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="dropdown">
                        {% set medias = entries('social', 'medias').paginate() %}
                        {{ medias.render()|raw }}
                                {% for media in medias %}
                        <li>
                            <a href="{{ media.link }}">{{ media.image.make.fit(28,25)|raw }}</a>
                        </li>
                                {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </footer>
#}
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <!--<span><i class="fa fa-phone"></i>+355-4-830 2555/2</span>-->
                            <span>Follow Us:</span>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <ul class="dropdown">

                            {% set medias = entries('social', 'medias').paginate() %}
                            {{ medias.render()|raw }}
                            {% for media in medias %}
                                <li>
                                    <a href="{{ media.link }}">{{ media.image.make.fit(30,30)|raw }}</a>
                                </li>
                            {% endfor %}</ul>
                    </div>
                </div>
            </div>
{% endblock %}