<header class="clearfix">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% set logos = entries('header', 'header_menu').paginate() %}
                {{ logos.render()|raw }}
                <a class="navbar-brand" href="http://www.dev.aubgolympics.com">{{ logos[0].logo.make|raw }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    {% set menuItems = entries('header', 'menu_items').paginate() %}
                    {{ menuItems.render()|raw }}
                    {% for menuItem in menuItems %}
                    <li class="drop"><a href="{{ menuItem.link }}">{{ menuItem.name }}</a>

                    </li>
                    {% endfor %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>