{% set galleries = entries('gallery', 'galleries').get() %}
{{ galleries.render()|raw }}
    <section class="team-section">
        <div class="container">
            {% for gallery in galleries %}
            <div class="col-md-4">
                <div class="team-post">
                    <a href="{{ gallery.link }}">
                        {{ gallery.thumbnail.make|raw }}</a>
                    <h2>{{ gallery.title }}</h2>
                    {{ gallery.semester.title_name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>