    {#
    Hello {{ auth_user().isAdmin() ? 'admin' : 'user' }}<br>
    <a href="{{ url_route('anomaly.module.users::logout') }}">Logout</a>
    {% if auth_user().hasRole('user') %}
        User is an admin!
    {% endif %}<br>
    Hello {{ user().name() }}
    #}
    {% set galleries = entries('gallery', 'galleries').get() %}
    {{ galleries.render()|raw }}
    <section class="team-section">
        <div class="container">
            {% for gallery in galleries %}
            <div class="col-md-4">
                <div class="team-post">
                    <a href="{{ gallery.link }}">
                        {{ gallery.thumbnail.make|raw }}</a>
                    <h2>{{ gallery.title }}</h2>
                    {{ gallery.semester}}
                </div>
            </div>
            {% endfor %}{#
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/dodgeball2015.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/dodge15.jpg" alt=""> </a>
                        <h2>Dodgeball Challenge</h2>
                        Fall 2015
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/basketball2016.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/basket16.jpg" alt=""> </a>
                        <h2>Basketball Challenge</h2>
                        Fall 2015
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/basketball2015.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/basket15.jpg" alt=""> </a>
                        <h2>Basketball Challenge</h2>
                        Spring 2015
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/billiards2014.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/billiard14.jpg" alt=""> </a>
                        <h2>Billiards Challenge</h2>
                        Fall 2014
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/dodgeball2014.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/dodge14.jpg" alt=""> </a>
                        <h2>Dodgeball Challenge</h2>
                        Fall 2014
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/tabletennis2015.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/table15.jpg" alt=""> </a>
                        <h2>Table Tennis Challenge</h2>
                        Fall 2014
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/recruitment2016.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/recruit16.jpg" alt=""> </a>
                        <h2>ReCrewtment</h2>
                        Fall 2015
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/marathon2015.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/marathon15.jpg" alt=""> </a>
                        <h2>Marathon</h2>
                        2015
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/olympics2015.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/olympics15.jpg" alt=""> </a>
                        <h2>Olympics</h2>
                        2015
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/olympics2014.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/olympics14.jpg" alt=""> </a>
                        <h2>Olympics</h2>
                        2014
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/olympics2011.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/olympics11.jpg" alt=""> </a>
                        <h2>Olympics</h2>
                        2011
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/olympics2009.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/olympics09.jpg" alt=""> </a>
                        <h2>Olympics</h2>
                        2009
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/olympics2008.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/olympics08.jpg" alt=""> </a>
                        <h2>Olympics</h2>
                        2008
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-post">
                        <a href="gallery/olympics2007.html"> <img src="http://dev.aubgolympics.com/app/aubgolymp/assets/images/olympics07.jpg" alt=""> </a>
                        <h2>Olympics</h2>
                        2007
                    </div>
                </div>
            </div>#}
        </div>
    </section>